section.about-section
  .wrapper
    .about-section__container
      h2.about-section__title.font-w-medium.font-s-44 Как создавалась наша студия
      .about-section__text.font-w-bold.font-s-20
        | Мой девиз: Делай так, чтобы твою работу приводили 
        br.no-br
        | в пример! Моя работа — это часть моей души, любимое 
        br.no-br
        | ремесло и творчество, в которое я каждый день 
        br.no-br
        | вкладываю душу и приношу людям счастье.
      .about-section__inner
        .about-section__inner-left
          img.about-section__image(src="images/about-section-img.jpg" loading="lazy" width="560" height="560" alt="owner")
          .about-section__name-first.font-s-65 Светлана Ханенко
        .about-section__inner-right.font-w-regular.font-s-20
          .about-section__inner-right-top
            | За 16 лет работы арт-студии мы собрали более 
            br.no-br
            | 41 000 букетов, 17 000 корзин, 5000 шляпных 
            br.no-br
            | коробок и 13 000 свадебных букетов. 
            br.no-br
            | «CHIKA GREEN» — победитель международных 
            br.no-br
            | выставок и конкурсов по флористике, мы были 
            br.no-br
            | одними из первых, кто внёс новые тренды, 
            br.no-br
            | а выпускники наших курсов сегодня успешно 
            br.no-br
            | работают по всей России.
          .about-section__inner-right-bottom
            | Цветочный бизнес — это интересное 
            br.no-br
            | и прибыльное дело, которое легко 
            br.no-br
            | масштабируется при наличии опыта и знаний.
            br.no-br
            | Для новых партнёров готова пошаговая 
            br.no-br
            | инструкция по быстрому запуску, 
            br.no-br
            | а вся моя команда с радостью поможет 
            br.no-br
            | вам на всех этапах сотрудничества!
      .about-section__name-second Светлана Ханенко

