.agree-box
  .agree-box__checkbox
    input.checkbox.checkbox-active(type="checkbox" name="checkbox" checked autocomplete="off")
  .agree-box__text Я даю согласие на обработку cвоих персональных данных