.agree-box
  .agree-box__checkbox
    input.checkbox.checkbox-active(type="checkbox" name="checkbox" checked disabled)
  .agree-box__text
    | Я даю согласие на обработку cвоих 
    a(href="#" data-remodal-target="privacy").agree-box__priv персональных данных
