section.city-section
  .wrapper
    .city-section__container
      h2.city-section__title.font-s-44.font-w-medium.text-center Откройте собственный цветочный <br> магазин с франшизой «CHIKA GREEN»
      .city-section__sub-title.font-s-22.font-w-bold.text-center Проверьте, свободен ли ваш город для работы
      form.city-section__form(data-feedback-form)
        input.input.city-section-item(type="text" name="name" autocomplete="off" placeholder="Имя")
        input.input.city-section-item(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
        button.button.btn.city-section-item(type="submit") Проверить
      .city-section__agree
        include ../components/agree.pug
