section.finances-section
  .wrapper
    .finances-section__container
      h2.finances-section__title.font-s-44.font-w-medium.text-center На какие показатели <br> можно рассчитывать
      .swiper-medium
        .finances-section__cards.swiper-wrapper
          .finances-section__card.swiper-slide
            .font-s-36.font-w-semi-bold 42 дня
            .font-s-20.font-w-medium Занимает <br> открытие компании
          .finances-section__card.swiper-slide
            .font-s-36.font-w-semi-bold 3 115 000 ₽
            .font-s-20.font-w-medium Размер ежемесячной <br> выручки
          .finances-section__card.swiper-slide
            .font-s-36.font-w-semi-bold 5 месяцев
            .font-s-20.font-w-medium Средний срок <br> окупаемости
          .finances-section__card.swiper-slide
            .font-s-36.font-w-semi-bold 930 000 ₽
            .font-s-20.font-w-medium Размер ежемесячной <br> прибыли
          .finances-section__card.swiper-slide
            .font-s-36.font-w-semi-bold 29,9%
            .font-s-20.font-w-medium Рентабельность <br> по чистой прибыли
          .finances-section__card.swiper-slide
            .font-s-36.font-w-semi-bold 120%
            .font-s-20.font-w-medium Средний размер <br> наценки
        .medium-pagination.swiper-progress-medium
