header.header
  .header__container
    .header__inner
      .header__logo-icon
        img.header__connection-logo-icon(src="images/logo-icon.jpg" alt="icon" loading="lazy" width="120" height="140")
      .header__title
        .font-w-medium.font-s-16 Франшиза <br> арт-студии цветов
    a.header__connection(href="tel:+70000000000")
      img.header__connection-icon(src="images/connection-icon.svg" alt="icon" loading="lazy" width="40" height="40")
      .header__connection-text
        .header__connection-phone-number
          include ../components/phone-number.pug
        .header-thanks__connection-order.font-w-regular.font-s-16 позвоните сейчас, <br> чтобы не ждать звонка