section.secret-section
  .wrapper
    .secret-section__container
      h2.secret-section__title.font-s-44.font-w-medium.text-center Делимся всеми секретами <br> успешной работы
      .swiper-large
        .secret-section__cards.swiper-wrapper
          .secret-section__card.swiper-slide
            .font-w-medium.font-s-20 01
            .font-w-medium.font-s-20 Обучаем специфике <br> продаж
          .secret-section__card.swiper-slide
            .font-w-medium.font-s-20 02
            .font-w-medium.font-s-20 Пошагово <br> выстраиваем все <br> бизнес-процессы
          .secret-section__card.card-large.card-3.swiper-slide
            .font-w-medium.font-s-20 03
            .font-w-medium.font-s-20 Консультируем по любым вопросам
          .secret-section__card.card-large.card-4.swiper-slide
            .font-w-medium.font-s-20 04
            .font-w-medium.font-s-20 Добавляем на официальный сайт
          .secret-section__card.card-5.swiper-slide
            .font-w-medium.font-s-20 05
            .font-w-medium.font-s-20 Помогаем с наймом <br> и с обучением <br> сотрудников
          .secret-section__card.card-6.swiper-slide
            .font-w-medium.font-s-20 06
            .font-w-medium.font-s-20 Проводим ежегодные <br> встречи франчайзи
        .large-pagination.swiper-progress-large
      img.secret-section__img(src="images/secret-section-img.jpg" loading="lazy" width="560" height="560" alt="image")
