section.start-section
  .wrapper
    .start-section__container
      .start-section__title.font-s-44.font-w-medium Выберите подходящий формат для старта <br> и узнайте все условия сотрудничества
      .swiper-medium-start
        .start-section__cards.swiper-wrapper
          .start-section__card.swiper-slide
            .font-s-36.font-w-semi-bold.text-center Мини-магазин
            .start-section__card-text.font-s-20.font-w-medium.text-center Площадь помещения: <br> 10-12 м²
            .font-s-22.font-w-bold.text-center Скачайте подробное описание <br> формата и финансовую модель
            form.start-section__form(data-feedback-form)
              input.input(type="text" name="name" autocomplete="off" placeholder="Имя")
              input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
              button.button.btn(type="submit") Скачать
              include ../components/agree.pug
          .start-section__card.swiper-slide
            .font-s-36.font-w-semi-bold.text-center Магазин
            .start-section__card-text.font-s-20.font-w-medium.text-center Площадь помещения: <br> 20-30 м²
            .font-s-22.font-w-bold.text-center Скачайте подробное описание <br> формата и финансовую модель
            form.start-section__form(data-feedback-form)
              input.input(type="text" name="name" autocomplete="off" placeholder="Имя")
              input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
              button.button.btn(type="submit") Скачать
              include ../components/agree.pug
        .medium-pagination.swiper-progress-medium-start
