section.steps-section
  .wrapper
    .steps-section__container
      h2.steps-section__title.font-s-44.font-w-medium Ключевые этапы открытия <br> вашей арт-студии
      .swiper-desktop
        .steps-section__cards.swiper-wrapper
          .steps-section__card.swiper-slide
            .steps-section__card-text
              .steps-section__number.font-s-36.font-w-bold 01
              .font-s-22.font-w-bold.padding-bottom Заключение договора франшизы
            .steps-section__card-image
              img.steps-section__img(src="images/steps-section-image1.jpg" loading="lazy" width="560" height="560" alt="image")
          .steps-section__card.swiper-slide
            .steps-section__card-text
              .steps-section__number.font-s-36.font-w-bold 02
              .font-s-22.font-w-bold.padding-bottom Поиск помещения и заключение <br> договора аренды
            .steps-section__card-image
              img.steps-section__img(src="images/steps-section-image2.jpg" loading="lazy" width="560" height="560" alt="image")
          .steps-section__card.swiper-slide
            .steps-section__card-text
              .steps-section__number.font-s-36.font-w-bold 03
              .font-s-22.font-w-bold.padding-bottom Ремонт и оформление помещения
            .steps-section__card-image
              img.steps-section__img(src="images/steps-section-image3.jpg" loading="lazy" width="560" height="560" alt="image")
          .steps-section__card.swiper-slide
            .steps-section__card-text
              .steps-section__number.font-s-36.font-w-bold 04
              .font-s-22.font-w-bold.padding-bottom Запуск рекламных кампаний
            .steps-section__card-image
              img.steps-section__img(src="images/steps-section-image4.jpg" loading="lazy" width="560" height="560" alt="image")
          .steps-section__card.swiper-slide
            .steps-section__card-text
              .steps-section__number.font-s-36.font-w-bold 05
              .font-s-22.font-w-bold.padding-bottom Поиск персонала
            .steps-section__card-image
              img.steps-section__img(src="images/steps-section-image5.jpg" loading="lazy" width="560" height="560" alt="image")
          .steps-section__card.swiper-slide
            .steps-section__card-text
              .steps-section__number.font-s-36.font-w-bold 06
              .font-s-22.font-w-bold.padding-bottom Доставка и монтаж приобретенного <br> оборудования, мебели
            .steps-section__card-image
              img.steps-section__img(src="images/steps-section-image6.jpg" loading="lazy" width="560" height="560" alt="image")
          .steps-section__card.swiper-slide
            .steps-section__card-text
              .steps-section__number.font-s-36.font-w-bold 07
              .font-s-22.font-w-bold.padding-bottom Формирование первичных запасов <br> товара и расходных материалов
            .steps-section__card-image
              img.steps-section__img(src="images/steps-section-image7.jpg" loading="lazy" width="560" height="560" alt="image")
          .steps-section__card.swiper-slide
            .steps-section__card-text
              .steps-section__number.font-s-36.font-w-bold 08
              .font-s-22.font-w-bold.padding-bottom Обучение персонала
            .steps-section__card-image
              img.steps-section__img(src="images/steps-section-image8.jpg" loading="lazy" width="560" height="560" alt="image")
          .steps-section__card.swiper-slide
            .steps-section__card-text
              .steps-section__number.font-s-36.font-w-bold 09
              .font-s-22.font-w-bold.padding-bottom Официальное открытие
            .steps-section__card-image
              img.steps-section__img(src="images/steps-section-image9.jpg" loading="lazy" width="560" height="560" alt="image")
        .swiper-progress-desktop.desktop-pagination
        .swiper-button
          button.button-prev(aria-label="prev")
            img(src="images/swiper-arrow.svg" loading="lazy" width="60" height="60" alt="prev")
          button.button-next(aria-label="next")
            img(src="images/swiper-arrow.svg" loading="lazy" width="60" height="60" alt="next")
      .steps-section__bottom
        .font-s-22.font-w-bold Работаем строго по договору, в котором описаны <br> наши обязанности и все условия сотрудничества
        button.steps-section__btn.btn(data-remodal-target="modal-form-steps") Скачать договор
      //- .steps-section__text.font-s-18 Команда УЛИЦЫ ЛОНДОНА обучит вас и ваш персонал, <br> и подробно проконсультирует на каждом этапе запуска бизнеса
      //- .swiper-medium
      //-   .steps-section__cards.swiper-wrapper
      //-     .steps-section__card.color-black.swiper-slide
      //-       .steps-section__flex
      //-         .steps-section__card-text.font-s-24.font-w-bold Этап
      //-         .steps-section__card-number.font-s-18.font-w-bold 1
      //-       .steps-section__card-sub.font-s-18 Заключаем договор <br> франшизы
      //-     .steps-section__card.color-black.swiper-slide
      //-       .steps-section__flex
      //-         .steps-section__card-text.font-s-24.font-w-bold Этап
      //-         .steps-section__card-number.font-s-18.font-w-bold 2
      //-       .steps-section__card-sub.font-s-18 Ищем помещение <br> и подписываем договор аренды
      //-     .steps-section__card.color-black.swiper-slide
      //-       .steps-section__flex
      //-         .steps-section__card-text.font-s-24.font-w-bold Этап
      //-         .steps-section__card-number.font-s-18.font-w-bold 3
      //-       .steps-section__card-sub.font-s-18 Согласуем, заказываем <br> и монтируем вывеску
      //-     .steps-section__card.color-black.swiper-slide
      //-       .steps-section__flex
      //-         .steps-section__card-text.font-s-24.font-w-bold Этап
      //-         .steps-section__card-number.font-s-18.font-w-bold 4
      //-       .steps-section__card-sub.font-s-18 Ремонтируем <br> и  оформляем помещение 
      //-     .steps-section__card.color-black.swiper-slide
      //-       .steps-section__flex
      //-         .steps-section__card-text.font-s-24.font-w-bold Этап
      //-         .steps-section__card-number.font-s-18.font-w-bold 5
      //-       .steps-section__card-sub.font-s-18 Проводим рекламную <br> кампанию
      //-     .steps-section__card.color-black.swiper-slide
      //-       .steps-section__flex
      //-         .steps-section__card-text.font-s-24.font-w-bold Этап
      //-         .steps-section__card-number.font-s-18.font-w-bold 6
      //-       .steps-section__card-sub.font-s-18 Ищем персонал
      //-     .steps-section__card.color-black.swiper-slide
      //-       .steps-section__flex
      //-         .steps-section__card-text.font-s-24.font-w-bold Этап
      //-         .steps-section__card-number.font-s-18.font-w-bold 7
      //-       .steps-section__card-sub.font-s-18 Формируем первичные запасы <br> товара и расходных материалов
      //-     .steps-section__card.color-black.swiper-slide
      //-       .steps-section__flex
      //-         .steps-section__card-text.font-s-24.font-w-bold Этап
      //-         .steps-section__card-number.font-s-18.font-w-bold 8
      //-       .steps-section__card-sub.font-s-18 Заказываем, доставляем <br> и монтируем оборудование <br> и мебель
      //-     .steps-section__card.color-black.swiper-slide
      //-       .steps-section__flex
      //-         .steps-section__card-text.font-s-24.font-w-bold Этап
      //-         .steps-section__card-number.font-s-18.font-w-bold 9
      //-       .steps-section__card-sub.font-s-18 Проводим обучение <br> персонала
      //-     .steps-section__card.color-black.swiper-slide
      //-       .steps-section__flex
      //-         .steps-section__card-text.font-s-24.font-w-bold Этап
      //-         .steps-section__card-number.font-s-18.font-w-bold 10
      //-       .steps-section__card-sub.font-s-18 Торжественно открываем <br> секонд хенд <b>УЛИЦЫ ЛОНДОНА</b>
      //-   .medium-pagination.swiper-progress-medium
      //- .steps-section__bottom
      //-   .steps-section__bottom-text.font-s-24 Работаем строго по договору, <br> в котором описаны наши обязанности <br> и все условия сотрудничества
      //-   img.steps-section__img(src="images/steps-section-image.png" loading="lazy" width="285" height="170" alt="image")
      //- button.steps-section__btn.btn(data-remodal-target="modal-form-steps") Скачать пример договора

