.footer
  &__container
    color $color-text-black
    padding 20px 0 20px 0
    display: flex
    flex-direction: column
    align-items: center
    gap: 15px
    +above($breakpoints.sm)
      padding 34px 0
      flex-direction: row
      justify-content space-between

  &__privacy
    color #1E1E1E60
