.header
  &__container
    display: flex
    flex-direction: row
    justify-content space-between
    align-items: center
    gap: 30px
    +above($breakpoints.sm)
      gap 0

  &__inner
    display: flex
    flex-direction: row
    align-items: center
    gap 40px

  &__connection-logo-icon
    width 60px
    height: 70px
    +above($breakpoints.sm)
      width 120px
      height: 140px

  &__title,
  &__connection-icon
    display: none
    +above($breakpoints.sm)
      display: block

  &__connection
    display: flex
    flex-direction: row
    align-items: center
    cursor pointer
    gap: 20px


  &__connection-text
    color: $color-text-black

  &__connection-phone-number
    letter-spacing: 1.4px

  &__connection-order
    letter-spacing: -1px
    +above($breakpoints.sm)
      letter-spacing: 0