.secret-section
  background-image: url("../images/secret-section-bg.png")
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 150px;

  &__container
    position relative
    color: $color-text-black
    padding 20px 0 0 0
    +above($breakpoints.xxl)
      padding 150px 0 150px 0

  &__title
    padding-bottom 20px
    +above($breakpoints.xxl)
      padding-bottom 80px

  &__card
    width 270px !important
    height: 170px
    padding 30px
    background-color $color-beige
    display: flex
    flex-direction: column
    justify-content space-between
    letter-spacing -1px
    +above($breakpoints.sm)
      width 360px !important
    +above($breakpoints.xxl)
      height: 270px
      width 270px !important

  &__cards
    +above($breakpoints.xxl)
      width 560px
      display: flex
      flex-direction: row
      flex-wrap: wrap
      gap: 20px

  &__img
    width 300px
    height: auto
    margin 20px auto
    +above($breakpoints.sm)
      width 360px
    +above($breakpoints.xxl)
      position: absolute
      width 560px
      height: 560px
      right: 0
      top: 315px

.card-large
  background-color $color-green
  color: $color-white
  +above($breakpoints.xxl)
    width 560px !important

.card-3
  +above($breakpoints.xxl)
    background-image: url("../images/secret-section-card-3.jpg")
    background-repeat: no-repeat
    background-position: center
    background-size: cover

.card-4
  +above($breakpoints.xxl)
    background-image: url("../images/secret-section-card-4.jpg")
    background-repeat: no-repeat
    background-position: center
    background-size: cover

.card-5
  +above($breakpoints.xxl)
    position: absolute
    right: -290px
    bottom: 0

.card-6
  +above($breakpoints.xxl)
    position: absolute
    right: -580px
    bottom: 0